* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #000000;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #2b2b2b;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 50px;
  transition: 1s;
  font-size: 20px;
}

.link a:hover {
  opacity: 1;
}

.link a:active {
  color: #57e2e2;
}

/* product section */

.product-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

.product-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 2s; /* added opacity and transition but page behaved differently from tut. wasn't smooth as illustrated*/
}

.ni10-heading {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 80px;
  font-weight: 400;
}

.product-img {
  position: absolute;
  top: 1;
  right: 0;
  height: 50vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
}
